SECRET_KEY=django-insecure-key
DEBUG=True

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret

PAYPAL_CLIENT_ID=your-paymal-client-id
PAYPAL_CLIENT_SECRET=your-paypal-client-secret