{% extends 'index.html' %}

{% load static %}

{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        
        <div class="checkout__form">
            <h4>Provide Username & Password</h4>
            <form action="{% url 'account:login_page' %}" method='POST'>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        
                        <div class="checkout__input">
                            <p>Username<span>*</span></p>
                            <input type="text" placeholder='Your Username', name='username'>
                        </div>
                        
                        <div class="checkout__input">
                            <p>Password<span>*</span></p>
                            <input type="text" placeholder='Your Password', name='password'>
                        </div>
 
                        <br>
                        <button type="submit" class="site-btn">Login</button>
                        
                        </div>
                    </div>
                </div>
            </form>

            <br>
            <br>
            <br>
            <br>

            <div class="checkout__input">
                <p>Don't have an account? <a href='{% url 'account:registration_page' %}'>Register</a> </p>
            </div>
        </div>
    </div>
</section>
<!-- Checkout Section End -->

{% endblock %}